<div class="wrap">
<div class="tab-group">

<section id="tab1" title="General">
	<ul>
		<li><a href="http://www.hoddereducation.co.uk/media/Documents/ICT/MicroBit-Quick-Start-Teacher-Guide.pdf">Quick Start Guide from Microsoft</a></li>
	</ul>
</section>

<section id="tab2" title="Python">
	<ul>
		<li><a href="https://cheat.microbit-playground.co.uk">Cheatsheet for Python on micro:bit</a> for use in lessons.</li>
	</ul>
</section>

<section id="tab3" title="Touch Develop &amp; Blocks">
	<ul>
		<li><a href="https://www.microbit.co.uk/td/lessons">Projects for the micro:bit</a></li>
	</ul>
</section>

<section id="tab4" title="Design Technology">
	<ul>
		<li><a href="https://www.kitronik.co.uk/pdf/bbc_microbit_free_sample_pack_booklet.pdf">Ideas for using the micro:bit in DT from Kitronics. </a>
	</ul>
</section>
</div>
</div>
