.front-page-container {
	@include outer-container;
	display: flex;
	align-items: center;
	justify-content: center;
}

h5.cent {
	text-align: center;
	margin-top: 0px !important;
	padding-top: 0px;
}


.front-page-left-column {
	@include span-columns(7);
	text-align: left;
}

.front-page-column-header {
width: 100%;
}
.front-page-right-column {
	@include span-columns(5);
}

.program-top {
	margin-top:0em;
	padding-top:0em;
	text-align: center;
}


.front-page-inner-left-column {
	@include span-columns(6);
	vertical-align: top;
}

.front-page-inner-right-column {
	@include span-columns(6);
	vertical-align: top;
}

.column-background {
	padding-top: 1em;
			background: rgba(black, 0.3);
			min-height: 250px;

}

.column-background ol {padding-bottom:1em;}

@media screen  and (max-width: 30em) {
  .front-page-left-column {
    width: 100%; 

  }
    }

  @media screen  and (max-width: 30em) {
  	.front-page-right-column { 
    width: 100%; 
  }  }

    @media screen  and (max-width: 30em) {
  	.front-page-inner-left-column { 
    width: 100%; 
  }  }

    @media screen  and (max-width: 30em) {
  	.front-page-inner-right-column { 
    width: 100%; 
  }  }

    @media screen  and (max-width: 30em) {
  	.btn-success { 
    margin-bottom: 1em; 
  }  }



/*
.front-page-right-column-end {
	@include span-columns(7);
	vertical-align: top;
	h3 {
		padding: 0px !important;
		margin: 0px;
		margin-bottom: 1em;
	}
}

.front-page-left-column-end {
	@include span-columns(5);
	vertical-align: top;
	h3 {
		padding: 0px !important;
		margin: 0px;
		margin-bottom: 1em;
	}
	.btn {
		margin: 0px !important;
	}
}
*/ 

/// Project Page Styling
.project-page h3 {
	border-bottom: 1px solid $border-color;
	padding-bottom: 0.5em !important;


}



.project-page h4 {
margin-top: 1.5em;
	font-weight: normal;
	padding-bottom: 0em;
	margin-bottom: 0em;
	font-size: 1.4em;
}

.author-name {
border: 0px !important;
}


.icon-cut:before {
  content: "\f0c4";
}

fieldset h3 {
	font-size:20px;
	margin-top: 0px;
}

fieldset .btn {
	margin-bottom: 0px;
}

.column-background li a {color:white; text-decoration: none;}